* {
  transition: all 500ms ease;
}

*::-webkit-scrollbar {
  width: 5px;
}


*::-webkit-scrollbar-track {
}



*::-webkit-resizer {
}

*::-webkit-scrollbar-thumb {
  background-color: #e8903e;
}

#events{
  background-image: url(./assets/events-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
